<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--bean name="customerRepository" class="com.spring.injection._01_base.repository.HibernateCustomerRepositoryImpl" exception in byType/-->
	<bean name="customerRepository2" class="com.spring.injection._01_base.repository.HibernateCustomerRepositoryImpl2" />
	
	<bean name="customerServicePropertyByName" class="com.spring.injection._01_base.service.CustomerServiceImpl" autowire="byName">
	</bean>
	<bean name="customerServicePropertyByType" class="com.spring.injection._01_base.service.CustomerServiceImpl" autowire="byType">
	</bean>	
	<bean name="customerServiceByCtor" class="com.spring.injection._01_base.service.CustomerServiceImpl" autowire="constructor" >
	</bean>
	<bean name="customerServicePropertyDefault" class="com.spring.injection._01_base.service.CustomerServiceImpl" autowire="default"><!-- use  byType or constructor -->
	</bean>	
</beans>
