<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="customerRepository2_1" name="customerRepository2_1Name" class="com.spring.injection._01_base.repository.HibernateCustomerRepositoryImpl" />
	<bean id="customerRepository2_3" class="com.spring.injection._01_base.repository.HibernateCustomerRepositoryImpl2" />


	
	<bean id="customerServiceProperty" name="customerServicePropertyName,customerServicePropertyName2"  class="com.spring.injection._01_base.service.CustomerServiceImpl">
		<property name="customerRepository" ref="customerRepository2_1" />
	</bean>
	<bean id="customerServicePropertyRefBean" class="com.spring.injection._01_base.service.CustomerServiceImpl"
		p:customerRepository-ref="customerRepository2_1"/>
	<bean id="customerServicePropertyRefBeanName" class="com.spring.injection._01_base.service.CustomerServiceImpl">
		<property name="customerRepository">
			<ref bean ="customerRepository2_1Name" />
		</property> 
	</bean>
	<bean id="customerServicePropertyRefBeanId" class="com.spring.injection._01_base.service.CustomerServiceImpl">
		<property name="customerRepository">
			<ref bean="customerRepository2_3" />
		</property> 
	</bean>



	<bean id="customerServicePropertyWithConstant" class="com.spring.injection._01_base.service.CustomerServiceImpl2">
		<property name="customerRepository">
			<value>Constant Name</value>
		</property> 
	</bean>
	<bean id="customerServicePropertyWithConstant2" class="com.spring.injection._01_base.service.CustomerServiceImpl2"
	p:customerRepository="Constant Name2"/>
	<bean id="customerServicePropertyWithConstantInt" class="com.spring.injection._01_base.service.CustomerServiceImpl2">
		<property name="customerRepository">
			<value>90</value>
		</property> 
	</bean>


		
	<bean id="customerServiceCtorRefBean" class="com.spring.injection._01_base.service.CustomerServiceImpl" autowire="no" >
		<constructor-arg index="0" ref="customerRepository2_1" />
	</bean>
	<bean id="customerServiceCtorRefBeanName" class="com.spring.injection._01_base.service.CustomerServiceImpl" autowire="no" >
		<constructor-arg index="0" ref="customerRepository2_1Name" />
	</bean>
	<bean id="customerServiceCtorRefBeanId" class="com.spring.injection._01_base.service.CustomerServiceImpl" autowire="no" 
		c:customerRepository-ref="customerRepository2_1"/>



		
	<bean id="customerServiceCtorWithConstant" class="com.spring.injection._01_base.service.CustomerServiceImpl2" autowire="no" >
		<constructor-arg index="0" value="Constant Name" />
	</bean>
	<bean id="customerServiceCtorWithConstant2" class="com.spring.injection._01_base.service.CustomerServiceImpl2" autowire="no" 
	c:temp="Constant Name2"/>
	<bean id="customerServiceCtorWithConstantString" class="com.spring.injection._01_base.service.CustomerServiceImpl2" autowire="no" >
		<constructor-arg index="0">
			<value>90</value>
		</constructor-arg>
	</bean>
	<bean id="customerServiceCtorWithConstantInt" class="com.spring.injection._01_base.service.CustomerServiceImpl2" autowire="no" >
		<constructor-arg index="0" type="int">
			<value>90</value>
		</constructor-arg>
	</bean>
	
	
</beans>
